Project/Library/
Project/Temp/
Project/Obj/
Project/UnityGenerated/
Project/.vs/
Project/ExportedObj/

*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.Trashes
*.apk

.Trashes
.DS_Store
.DS_Store?
._*
.Spotlight-V100
Icon?
ehthumbs.db
Thumbs.db
GraphicsSettings.asset
ProjectSettings.asset
ProjectVersion.txt
*.pdb.meta
*.pidb.meta
*.unitypackage